<html>
    <head>
        <meta charset="UTF-8">
        <title>视频剪辑</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="/static/content_production/css/normalize.css" />
        <link rel="stylesheet" type="text/css" href="/static/content_production/css/demo.css">
        <link rel="stylesheet" type="text/css" href="/static/content_production/css/dragslot.css">
        <link rel="stylesheet" type="text/css" href="/static/content_production/css/style.css">
        <link type="text/css" rel="stylesheet" href="/static/content_production/css/preview_style.css">
        <link type="text/css" rel="stylesheet" href="/static/content_production/css/cutout-style.css" />
		<script src="http://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>

        <style>
			body{
				margin: 0;
				padding: 0;
			}
		    *{
		    	text-decoration: none;
		    }
			.box{
				text-align: center;
			}
			.t_img{

			}
			.s_box{
				border-radius: 10px;
				width: 1250px;
				height: auto;
				border: 1px #c2c2d6 solid;
				margin-left: 430px;
				background-color: #CFC31B;
			    position:fixed;
				display: none;
			}
			.s_box img{
				width: 200px;
				height: auto;
				margin: 5px;
				border:1px solid #ccc;
				display: inline-block;

			}
			.s_box img:hover{
				border-color:red ;
				transform: scale(1.25);
				transition: .5s;
			}
			.header{
			  width: 100%;
			  text-align: center;
			  font-size: 14px;
			  margin-top: 30px;
			}
			.close{
				color:#000;
			    font-size: 21px;
			    opacity: .7;
			    position:absolute;
			    right:8px;
			    top:1px;
			    cursor: pointer;
			}
			.bt_box .gb{
				display:inline-block;
				width:80px;
				height:35px;
				border-radius: 10px;
				background:#f3f3f3;
				color:#444;
				line-height: 35px;
				margin: 10px;
			}
			.bt_box .queren{
				display:inline-block;
				width:180px;
				height:35px;
				border-radius: 10px;
				background:#1a53ff;
				color:white;
				line-height: 35px;
			}
			.bt_box .gb:hover,.bt_box .queren:hover{
				box-shadow: 0 6px 10px 0 rgba(0,0,0,0.24),0 9px 25px 0 rgba(0,0,0,0.19);
			}

		</style>

    </head>

    <!--引入jQuery包用于使用ajax-->
<!--    <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>-->
    <script src="/static/content_production/js/jquery-1.11.0.min.js" type="text/javascript"></script>
	<script src="/static/content_production/js/dragslot.js" type="text/javascript"></script>
    <script type="text/javascript" src="/static/content_production/js/cutout-tinybox.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
    <body onload="get_search_condition()">
            <br>

            <br><br>
            <!--创建两个input输入框，定义id分别为name,age-->
            <select id="type_list" class="singleSelect"  style="width:210px">
                <option value="">--请选择--</option>
                <option value="1">心理学</option>
                <option value="2">文学</option>
                <option value="3">小说</option>
            </select>
             &nbsp;
            <select id="tag_list" class="singleSelect"  style="width:210px">
                <option value="">--请选择--</option>
            </select>
             &nbsp;
            <select id="author_list" class="singleSelect"  style="width:210px">
                <option value="">--请选择--</option>
            </select>
             &nbsp;
            <select id="book_list" class="singleSelect"  style="width:270px">
                <option value="">--请选择--</option>
            </select>

     &nbsp;  &nbsp;    &nbsp;
            <input id="key_words" type="text" class="search" placeholder="输入你想到的词" style="width:270px">
             &nbsp;  &nbsp;  &nbsp;
            <button id="book_search_list" >搜索</button>


        <br><br>

        <div style="float:left;">
            <section class="demo clearfix" >

                <div id="dragslot" class="container" style="width:900px;">


<!--                    <div class="slot-title bg-red border-red">Todo</div>-->
<!--		            <div class="slot-title bg-green border-green">Done</div>-->

                    <div class="slot border-red"  id="book_content_list" style="width:420px;height:820px;">
<!--                        <ul class="slot-list" style="overflow:auto;height:750px;" >-->

<!--                        </ul>-->
                    </div>

                    <div class="slot border-green" id="border-green" style="width:420px;height:820px;overflow:auto;" >
                                <ul class="slot-list" id="text" style="">
                                    <li class="slot-item">
                                        <div class="slot-handler">
                                            <div class="slot-handler clearfix">
                                                <div class="avator">
                                                    <img src="/static/content_production/img/avatar4.jpg"/>
                                                </div>

                                                <div class="content">
                                                    <div class="item-title" id="timer"></div>

                                                    <p></p>
                                                </div>

                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                </div>



            </section>
        </div>
       <div style="float:right;margin-right:520px">
                    <br><br>
<!--                    <input cols="30" type="text" id="title" name="title" placeholder="标题" style="width:750px;height:100px">-->
                    <input id="title" type="text" list="typelist" placeholder="封面标题" style="width:750px;height:70px" >
                    <datalist id="typelist" width="100%">
                       <option>如何应对迷茫？</option>
                       <option>生命是什么，这是佛陀的答案</option>
                       <option>还有人读鲁迅吗？</option>
                    　　<option>《雪中悍刀行》那些经典致郁的句子</option>
                    　　<option>那些让人一眼泪目的话</option>
                       <option>孤独能写到什么程度</option>
                       <option>用一句话形容喜欢</option>
                       <option>如何体面地回答“你为什么不喜欢我”</option>
                       <option>让你清醒一整天的句子</option>
                    </datalist>
                    <br><br>
                   <input id="author" type="text" list="subtitlelist" placeholder="封面副标题" style="width:750px;height:70px" >
                    <datalist id="subtitlelist" width="100%">
                    　　<option>（这是我见过最有趣的回答）</option>
                       <option>（建议通篇对照）</option>
                       <option>（这是最佳答案）</option>
                       <option>（建议收藏备用）</option>
                       <option>（建议灵活应用）</option>
                    </datalist>
                    <br><br>
                    <input id="bilibiliTitle" type="text" list="bilibiliTitleList" placeholder="B站标题" style="width:750px;height:70px" >
                    <datalist id="bilibiliTitleList" width="100%">
                    　　<option>一本了解精神分裂症的好书－－《隐谷路》</option>
                    </datalist>

                    <br><br>
<!--                    <input cols="30" type="text" id="avatarUrl" name="avatarUrl" placeholder="头像链接" style="width:600px;height:100px">-->
<!--                    <button onclick="cutout();">头像抠图</button>&nbsp;&nbsp;&nbsp;-->
<!--                    <br><br>-->
<!--                    <textarea cols="30" type="text" id="start" name="start" placeholder="开头" style="width:750px;height:200px"></textarea>-->
<!--                    <br><br>-->

<!--                    <input cols="30" type="text" id="end" name="end" placeholder="结尾" style="width:750px;height:100px" value="感谢观看">-->
                    <textarea cols="30" type="text" id="end" name="end" placeholder="结尾" style="width:750px;height:200px" value="">感谢观看
欢迎关注 ＠青山书阁</textarea>


                    <br><br>
                    <input cols="30" type="text" id="label" name="label" placeholder="标签，注：每个标签使用引文逗号来分割，比如：心理学,拉康,文学" style="width:750px;height:100px">
                    <br><br>

                    <input id="commentguide" type="text" list="commentguidelist" placeholder="评论引导" style="width:750px;height:70px" >
                    <datalist id="commentguidelist" width="100%">
                    　　<option>你还有什么获得自信的方法吗？欢迎评论～</option>
                    </datalist>
                    <br><br>
                    <select id="font_cover_ratio" class="singleSelect"  style="width:210px;height:30px">
                        <option value="5">5分之一</option>
                        <option value="10">10分之一</option>
                        <option value="11">11分之一</option>
                        <option value="12">12分之一</option>
                    </select> <font color="grey">封面字体大小：选项为封面宽度的几分之几</font>

                     <br><br>
                    <img cols="30" type="text" id="picture" name="picture" placeholder="背景图片（可以不填，不填就随机）" value="cai-carney-deaqEVtdSgk-unsplash.jpg">
<!--                     <div class="ft_img" id="ft_img">-->
                    <button class="t_img">选择背景图片</button>
<!--			         </div>-->

                    <br><br>
<!--                    <input cols="30" type="text" id="music" name="music" placeholder="背景音乐（可以不填，不填就随机）" style="width:750px;height:100px">-->
<!--                    <input type="file" id="music" name="music" accept="audio/*"   style="" />-->
                    <audio id="audio" controls style="width: calc(100%);"></audio>
                    <form name="form1">
                        <input type="button" value="选择背景音乐" onclick="document.form1.file.click()">
                        <input type="file" name="file" id="file" style="display:none;" >
                        <input name="music" style="display:none;" id="music" readonly>
                    </form>


                    <button id="edit_cotainer" >编辑文本</button>
                    <br><br>
                    <!--创建button按钮，点击则激发submit()事件-->
<!--                    <button onclick="submit_text();">生成视频</button>&nbsp;&nbsp;&nbsp;-->
                    <a href="#popup-article"  onclick="submit_text();">生成视频</a>&nbsp;&nbsp;&nbsp;
                    <a href="#popup-article"  onclick="preview();">预览</a>
           　　　　　 <br><br><br><br><br>




         </div>
            <div style="float:left;">

             <font color="grey">灵感： </font>   &nbsp;
             　<a href="https://mubu.com/app/edit/home/dEqQgWnG3w" target="_blank" style="color:#7DE267;">内容灵感储备</a>
             　<a href="https://studio.ixigua.com/activities" target="_blank" style="color:#7DE267;">西瓜视频选题灵感</a>
             &nbsp;<a href="https://member.bilibili.com/york/up-inspiration/today?navhide=1&tab_id=2&from=10&page_from=home_10" target="_blank" style="color:#7DE267;">B站选题灵感</a>
            　　
             <br>
             <font color="grey">创作中心： </font>&nbsp;
                <a href="https://member.bilibili.com/platform/upload-manager/article" target="_blank" style="color:#33BDFF;">B站创作中心</a>
            　  <a href="https://studio.ixigua.com/content" target="_blank" style="color:#33BDFF;">西瓜视频创作中心</a>
                <a href="https://member.bilibili.com/platform/growingUp/taskManage/main" target="_blank" style="color:#33BDFF;">B站任务中心</a>
             <br>
            <font color="grey">学习对象：

              </font>&nbsp;
                <a href="https://t.bilibili.com/?tab=video" target="_blank" style="color:#F68B33;">金句帐号列表</a>
                <a href="https://space.bilibili.com/60509716/?spm_id_from=333.999.0.0" target="_blank" style="color:#F68B33;">一个爱吃的猪</a>
            　<a href="https://www.ixigua.com/home/2093104668353164" target="_blank" style="color:#F68B33;">烟雨读书</a>
             　<a href="https://space.bilibili.com/8370869" target="_blank" style="color:#F68B33;">yui与小森林</a>
              <a href="https://space.bilibili.com/179444595/search/video?keyword=%E6%97%B6%E9%97%B4" target="_blank" style="color:#F68B33;">佳人温文</a>
            　<a href="https://space.bilibili.com/181508854/?spm_id_from=333.999.0.0" target="_blank" style="color:#F68B33;">文字铺</a>
      　　　　


            <br>

            <font color="grey">工具： </font>&nbsp;<a href="http://47.98.124.127:8080/" target="_blank" style="color:grey;">mysql数据库</a>
            <a href="https://vision.aliyun.com/experience/detail?tagName=imageseg&children=SegmentHDBody" target="_blank" style="color:grey;">阿里云扣图</a>
             <a href="https://oss.console.aliyun.com/bucket/oss-cn-hangzhou/enjoy-mocuili/object" target="_blank" style="color:grey;">阿里云oss</a>
             <a href="https://unsplash.com/" target="_blank" style="color:grey;">背景图下载１</a>
             <a href="https://wallhaven.cc/" target="_blank" style="color:grey;">背景图下载２</a>

             <br>

            <font color="grey">其他页面： </font>&nbsp;<a href="/videoList/" target="_blank" style="color:grey;">视频列表页</a>

            </div>

<div id="popup-article" class="popup">
  <div id="popup_block" class="popup__block">

  </div>
</div>
<div class="box">
    <div class="s_box" id="sbox">
        <div class="header">
            <p>设置背景图片</p>
            <span class="close" id="close">x</span>
        </div>
        <hr width="80%" color="#e0e0eb"/>
        <div id="t_img" style="height:700px;width:1250px;overflow:scroll;">
        </div>
        <hr width="80%" color="#e0e0eb"/>
        <div class="bt_box">
            <input type="file" name="file0" id="file0" accept="image/*"/>
            <a class="queren" href="javascript:" id="but">保存背景图片</a>
            <a class="gb" href="javascript:" id="hide">关闭</a>
        </div>
    </div>
</div>

<!--    <div >-->
<!--        <textarea id="book_content" style="height:2000px;width:750px;overflow:auto;background:#EEEEEE;">-->

<!--        </textarea>-->

<!--        <div style="float:right;margin-right:300px">-->
<!--            <input cols="30" type="text" id="title" name="title" placeholder="标题" style="width:750px;height:100px">-->
<!--            <br><br>-->
<!--            <textarea cols="30" type="text" id="start" name="start" placeholder="开头" style="width:750px;height:200px"></textarea>-->
<!--            <br><br>-->

<!--            <textarea rows="10" cols="30" type="text" id="text" name="text"-->
<!--                      placeholder="文本,注：使用＂&＂符号来分割句子，使用＂++＂符号来分割原话和评论，使用＂||＂符号来分割名言与出处"-->
<!--                      style="float:right;width:750px;height:750px"></textarea>-->

<!--            <br><br>-->
<!--            <input cols="30" type="text" id="end" name="end" placeholder="结尾" style="width:750px;height:100px">-->
<!--            <br><br>-->
<!--            <input cols="30" type="text" id="author" name="author" placeholder="作者" style="width:750px;height:100px">-->
<!--            <br><br>-->
<!--            <input cols="30" type="text" id="label" name="label" placeholder="标签,（可以不填）,注：每个标签使用空格来分割，比如：心理学　拉康　文学" style="width:750px;height:100px">-->
<!--            <br><br>-->
<!--            <input cols="30" type="text" id="picture" name="picture" placeholder="背景图片（可以不填，不填就随机）" style="width:750px;height:100px">-->
<!--            <br><br>-->
<!--            <input cols="30" type="text" id="music" name="music" placeholder="背景音乐（可以不填，不填就随机）" style="width:750px;height:100px">-->
<!--            <br><br>-->
<!--            &lt;!&ndash;创建button按钮，点击则激发submit()事件&ndash;&gt;-->
<!--            <button onclick="submit();">生成视频</button>-->
<!--         </div>-->
<!--    </div>-->
    </body>
    <script>

        var container_element
        var container_dragStartEvent
        var edit_switch = false

        $(document).ready(function () {//加载页面时执行select2
            $('.singleSelect').select2();
        });

        /*选择音乐*/
        $('input#file').change(function(){

           //加载音频
           var files = this.files;//声音文件
           audio.src = URL.createObjectURL(files[0]);
           audio.load();

           //播放音频
           audio.play();

           $("#music").val($("#file").val())

        });

         /*在这里编写submit()事件*/
        function submit_text() {

            console.log($("#bilibiliTitle").val())

            log()

            sentence_list = document.getElementById('text').getElementsByClassName("item-title")
            source_list = document.getElementById('text').querySelectorAll("p")
            text = ""
            for (let i = 1; i < sentence_list.length; ++i) {
                if(i > 1){
                  text = text+"&"
                }
                text = text + sentence_list[i].textContent + "++ ||"+source_list[i].textContent + "\n"
            }

            $.ajax({
                url: "submit", /*数据提交到submit处*/
                type: "POST",  /*采用POST方法提交*/
                data: { "title": $("#title").val(),
                        "start":$("#start").val(),
                        "text":text,
                        "end":$("#end").val(),
                        "author":$("#author").val(),
                        "bilibiliTitle":$("#bilibiliTitle").val(),
                        "label":$("#label").val(),
                        "picture":$("#picture").val(),
                        "music":$("#music").val(),
                        "operate":"generateVideo",
                        "font_cover_ratio":$('select#font_cover_ratio').val(),
                        "commentguide":$("#commentguide").val()},  /*提交的数据（json格式），从输入框中获取*/
                /*result为后端函数返回的json*/
                success: function (result) {

                    document.getElementById('popup_block').innerHTML="";

                    var h1 = document.createElement("h1");
                    h1.setAttribute("class", "popup__title");
                    h1.innerHTML= result.title;
                    $('#popup_block').append(h1)

                    cover_url = result.cover_url

                    var cover = document.createElement("img");
                    cover.setAttribute("class", "popup__media");
                    cover.setAttribute("alt", "The foto of nature");
                    cover.setAttribute("src", cover_url);
                    $('#popup_block').append(cover);

                    video_url = result.video_url
                    var video = document.createElement("video");
                    video.setAttribute("src", video_url);
                    video.setAttribute("controls", "controls");
                    video.setAttribute("class", "popup__media");
                    $('#popup_block').append(video);

                    var p0 = document.createElement("p");
                    var p1 = document.createElement("p");
                    var p2 = document.createElement("p");
                    var p3 = document.createElement("p");
                    var p4 = document.createElement("p");
                    var p5 = document.createElement("p");
                    var p6 = document.createElement("p");
                    p0.innerHTML= "求个　[热词系列_三连]</br>";
                    p1.innerHTML= result.commentguide;
                    p2.innerHTML="BGM：" + result.music_file_name;
                    p3.innerHTML= result.text;
                    p4.innerHTML="图片名：" + result.picture_file_name;
                    p5.innerHTML="副标题：" + result.author;
                    p6.innerHTML="视频时长：" + result.video_time;
                    $('#popup_block').append(p0)
                    $('#popup_block').append(p1)
                    $('#popup_block').append(p2)
                    $('#popup_block').append(p3)
                    $('#popup_block').append(p4)
                    $('#popup_block').append(p5)
                    $('#popup_block').append(p6)

                    var a = document.createElement("a");
                    a.setAttribute("href", "#");
                    a.setAttribute("class", "popup__close");
                    a.setAttribute("onclick", "closeBulletBox();");
                    a.innerHTML="关闭";
                    $('#popup_block').append(a)
                }
            });
        }


        function cutout() {
            $.ajax({
                url: "cutout", /*数据提交到submit处*/
                type: "GET",  /*采用POST方法提交*/
                data: { "avatarUrl": $("#avatarUrl").val(),
                        "author":$("#author").val()},  /*提交的数据（json格式），从输入框中获取*/
                /*result为后端函数返回的json*/
                success: function (result) {
                    console.log(result.result_url)
                    var content2 = "<img src='"+result.result_url+"' width='500' height='500' alt='' />";
                    TINY.box.show(content2,0,0,0,1)
                }
            });
        }


        /*在这里编写preview()事件*/
        function preview() {

            log()
            sentence_list = document.getElementById('text').getElementsByClassName("item-title")
            source_list = document.getElementById('text').querySelectorAll("p")
            text = ""
            for (let i = 1; i < sentence_list.length; ++i) {
                if(i > 1){
                  text = text+"&"
                }
                text = text + sentence_list[i].textContent + "++ ||"+source_list[i].textContent + "\n"
            }

            $.ajax({
                url: "submit", /*数据提交到submit处*/
                type: "POST",  /*采用POST方法提交*/
                data: { "title": $("#title").val(),
                        "start":$("#start").val(),
                        "text":text,
                        "end":$("#end").val(),
                        "author":$("#author").val(),
                        "label":$("#label").val(),
                        "picture":$("#picture").val(),
                        "music":$("#music").val(),
                        "operate":"preview",
                        "font_cover_ratio":$('select#font_cover_ratio').val(),
                        "commentguide":$("#commentguide").val()},  /*提交的数据（json格式），从输入框中获取*/
                /*result为后端函数返回的json*/
                success: function (result) {
                    document.getElementById('popup_block').innerHTML="";
                    var h1 = document.createElement("h1");
                    h1.setAttribute("class", "popup__title");
                    h1.innerHTML= result.title;
                    $('#popup_block').append(h1)

                    frame_list = result.frame_list
                    for (let i = 0; i < frame_list.length; ++i) {
                        var img = document.createElement("img");
                        img.setAttribute("class", "popup__media");
                        img.setAttribute("alt", "The foto of nature");
                        img.setAttribute("src", frame_list[i]);
                        console.log(frame_list[i])
                        $('#popup_block').append(img);
                    }

                    var p0 = document.createElement("p");
                    var p1 = document.createElement("p");
                    var p2 = document.createElement("p");
                    var p3 = document.createElement("p");
                    var p4 = document.createElement("p");
                    var p5 = document.createElement("p");
                    var p6 = document.createElement("p");



                    p0.innerHTML= "求个　[热词系列_三连]</br>";
                    p1.innerHTML= result.commentguide;
                    p2.innerHTML="BGM：" + result.music_file_name;
                    p3.innerHTML= result.text;
                    p4.innerHTML="图片名：" + result.picture_file_name;
                    p5.innerHTML="副标题：" + result.author;
                    p6.innerHTML="视频时长：" + result.video_time;

                    $('#popup_block').append(p0)
                    $('#popup_block').append(p1)
                    $('#popup_block').append(p2)
                    $('#popup_block').append(p3)
                    $('#popup_block').append(p4)
                    $('#popup_block').append(p5)
                    $('#popup_block').append(p6)
                    var audio = document.createElement("audio");
                    audio.setAttribute("style", "width: calc(50%);");
                    audio.setAttribute("src", "https://enjoy-mocuili.oss-cn-hangzhou.aliyuncs.com/music/"+result.music_file_name);
                    audio.controls = true
                    audio.play();
                    $('#popup_block').append(audio)

                    var a = document.createElement("a");
                    a.setAttribute("href", "#");
                    a.setAttribute("class", "popup__close");
                    a.setAttribute("onclick", "closeBulletBox();");
                    a.innerHTML="关闭";
                    $('#popup_block').append(a)
                }
            });
        }

        /*获取筛选条件列表*/
        function get_search_condition(){
             $.ajax({
                url: "get_search_condition",
                type: "GET",
                data: { },
                success: function (result) {
                   book_name_list = result.book_name_list
                   book_wechar_id_list = result.book_wechar_id_list
                   tag_id_list = result.tag_id_list
                   tag_name_list = result.tag_name_list
                   author_id_list = result.author_id_list
                   author_name_list = result.author_name_list
                   for (let i = 0; i < book_name_list.length; ++i) {
                        var option = document.createElement("option");
                        $(option).val(book_wechar_id_list[i]);
                        $(option).text(book_name_list[i]);
                        $('#book_list').append(option);
                   }
                   for (let i = 0; i < tag_id_list.length; ++i) {
                        var option = document.createElement("option");
                        $(option).val(tag_id_list[i]);
                        $(option).text(tag_name_list[i]);
                        $('#tag_list').append(option);
                   }
                   for (let i = 0; i < author_id_list.length; ++i) {
                        var option = document.createElement("option");
                        $(option).val(author_id_list[i]);
                        $(option).text(author_name_list[i]);
                        $('#author_list').append(option);
                   }
                }
            });
        }
        /*获取书籍内容
        $('select#book_list').change(function(){
                $.ajax({
                    url: "get_content_by_book",
                    type: "GET",
                    data: {"wechar_book_id":$(this).val()},
                    success: function (result) {
                        book_content = result.message
                        document.getElementById('book_content').innerHTML=book_content;
                    }
                 });
        });*/

        $('button#book_search').click(function(){
                $.ajax({
                    url: "book_search",
                    type: "GET",
                    data: {"key_words":$("#key_words").val()},
                    success: function (result) {
                        book_content = result.message
                        document.getElementById('book_content').innerHTML=book_content;
                    }
                 });
        });

        /*根据关键词+书籍名字获取书籍内容*/
        $('button#book_search_list').click(function(){
                $.ajax({
                    url: "book_search_list",
                    type: "GET",
                    data: {"key_words":$("#key_words").val(),
                           "wechat_book_id":$('select#book_list').val(),
                           "tag_id":$('select#tag_list').val(),
                           "author_id":$('select#author_list').val(),
                           "type":$('select#type_list').val()},
                    success: function (result) {
                        book_sentence_str_list = result.book_sentence_str_list
                        book_name_list = result.book_name_list
                        underline_num_list = result.underline_num_list
                        document.getElementById('book_content_list').innerHTML="";
                        console.log("获取element")
                        var ul = document.createElement("ul");
                        ul.setAttribute("class", "slot-list");
                        ul.setAttribute("style", "overflow:auto;height:750px;");
                        $('#book_content_list').append(ul);
                        for (let i = 0; i < book_sentence_str_list.length; ++i) {
                                var li = document.createElement("li");
                                var div1 = document.createElement("div");
                                var div2 = document.createElement("div");
                                var div3 = document.createElement("div");
                                var div4 = document.createElement("div");
                              /*  var div5 = document.createElement("textarea");*/
                                var div5 = document.createElement("div");
                                var img = document.createElement("img");
                                var p = document.createElement("p");
                                ul.append(li);
                                li.append(div1);
                                div1.append(div2);
                                div2.append(div3);
                                div2.append(div4);
                               /* div3.append(img);*/
                                div3.append(underline_num_list[i]);
                                div4.append(div5);
                                div4.append(p);

                                li.setAttribute("class", "slot-item");
                                div1.setAttribute("class", "slot-handler");
                                div2.setAttribute("class", "slot-handler clearfix");
                                div3.setAttribute("class", "avator");
                                div4.setAttribute("class", "content");
                                div5.setAttribute("class", "item-title");
                                /* div5.setAttribute("contenteditable", "true");*/
                                div5.setAttribute("style", "-webkit-user-modify: read-write-plaintext-only");
                                p.setAttribute("style", "font-size:12px");
                                p.setAttribute("contenteditable", "true");
                                $(div5).text(book_sentence_str_list[i]);
                                img.setAttribute("src", "/static/content_production/img/avatar4.jpg");
                                $(p).text(book_name_list[i]);

                       }
                    }
                 });
        });

 /*
        $('textarea#saying11111').dblclick(function(){

        });*/

        jQuery(function($){
			var obj = $('#dragslot').dragslot({
				dropCallback: function(el){
				//	alert(el);
				}
			});
			container_element = obj.slotContainer.element
			container_dragStartEvent = obj.dragStartEvent
			console.log(container_element)
			console.log(container_dragStartEvent)
		});

        /* 隐藏，显现效果 */
          $(".t_img").click(function(){
            document.getElementById('t_img').innerHTML="";

            /* 获取图片list */
              $.ajax({
                        url: "get_picture_list",
                        type: "GET",
                        data: {},
                        success: function (result) {
                            picture_list = result.picture_list
                            for (let i = 0; i < picture_list.length; ++i) {
                                var img = document.createElement("img");
                                img.setAttribute("src", "https://enjoy-mocuili.oss-cn-hangzhou.aliyuncs.com/picture/"+
                                                        picture_list[i]+
                                                        "?x-oss-process=image/resize,m_fixed,limit_0,w_250");
                                img.onclick = function(){
                                   /* $("#t_img").attr('src',picture_url); */
                                     console.log("ok")
                                     $("#picture").val(picture_list[i]);
                                     $("#picture").attr("src","https://enjoy-mocuili.oss-cn-hangzhou.aliyuncs.com/picture/"+
                                                        picture_list[i]+
                                                        "?x-oss-process=image/resize,m_fixed,limit_0,w_250");
                                     $("#sbox").hide("slow");
                                }
                                $('#t_img').append(img);
                            }
                            $("#sbox").show("slow");
                        }
                });
          });
          $("#hide").click(function(){
                 $("#sbox").hide("slow");
          });
          $("#close").click(function(){
                 $("#sbox").hide("slow");
          });
        /*  选定图像获取图像src值 */
		var $t_img = document.getElementById('t_img');
		var $img = $t_img.getElementsByTagName('img');
		var index = 0;
		for(var i = 0; i<$img.length;i++){
			$img[i].index=i;
			$img[i].onclick = function(){
				$img[index].style.borderRadius="15%";
				$img[index].style.border="none"
				this.style.borderRadius="50%";
				this.style.border="1px solid red"
				index = this.index;
				var $newsrc = $img[index].src;
				$(".t_img").attr('src',$newsrc);
			}
		}
		 //点击确认修改按钮更换头像
		$("#but").click(function(){
             $.ajax({
                url: "save_picture",
                type: "POST",
                data: {"picture_url":$("#file0").val()},
                success: function (result) {
                   $("#sbox").hide("slow");
                }
             });
		})

	    //讲选中的图片替换头像的图片
		$("#file0").change(function(){
		  var objUrl = getObjectURL(this.files[0]) ;
		  if (objUrl) {
		    $(".t_img").attr("src", objUrl) ;
		  }
		}) ;
		//创建一个可存取到该file的url
		function getObjectURL(file) {
		  var url = null ;
		   // 下面函数执行的效果是一样的，只是需要针对不同的浏览器执行不同的 js 函数而已
		  if (window.createObjectURL!=undefined) { // basic
		    url = window.createObjectURL(file) ;
		  } else if (window.URL!=undefined) { // mozilla(firefox)
		    url = window.URL.createObjectURL(file) ;
		  } else if (window.webkitURL!=undefined) { // webkit or chrome
		    url = window.webkitURL.createObjectURL(file) ;
		  }
		  return url ;
		}

		function closeBulletBox() {
              document.getElementById('popup_block').innerHTML="";
        }




        var time
        // 创建一个元素节点
        function insertAfter( newElement, targetElement ){ // newElement是要追加的元素targetElement 是指定元素的位置
            var parent = targetElement.parentNode; // 找到指定元素的父节点
            parent.appendChild( newElement, targetElement );
        };
        function log(){

            popup_block = document.getElementById('popup_block')
            var div1 = document.createElement("div");
            var div2 = document.createElement("div");
            var div3 = document.createElement("div");
            div1.setAttribute("class", "log");
            div2.setAttribute("class", "log_text");
            div2.setAttribute("id", "log_list");
            div3.setAttribute("id", "log_text");
            popup_block.append(div1)
            div1.append(div2)
            div2.append(div3)

            clearTimeout(time) // 清空定时器
            var log_null = 0 //存放空日志次数
            var div = document.getElementById('log_list') //找到存放日志的块
            div.innerHTML = "<div id='log_text'></div>" // 每次跑清空div内内容

            // $.post('/generation_log',{},function (){
           //  }) //请求生成日志接口
            // 生成定时器
            time = setInterval(function (){
                $.get('/clip/get_log',{},function (data){ //请求获取日志接口获取日志
                    log_type = data._log.log_type
                    log_list = data._log.log_list
                    if (log_type == 3){ //如果获取的是空日志log_null次数加1
                        log_null ++
                        if (log_null >= 20){
                            clearTimeout(time) //如果连续20次获取的都是空日志清除定时任务
                        }
                        return
                    }
                    if (log_type == 2){ //如果获取到新日志
                        for (i=0;i<log_list.length;i++){ //遍历日志
                            var p = document.createElement("p") //生成一个p标签
                            p.innerHTML = log_list[i] //日志存放到P标签内
                            var header = document.getElementById('log_text')
                            insertAfter(p,header) //将p标签添加到log_text div中
                            div.scrollTop = div.scrollHeight //滚动条实时显示到底部
                        }
                        log_null = 0 //日志为空次数清0
                    }

                })
            },1000) //每1秒钟执行一次
        }
        // document.getElementById('button').addEventListener("click",log)


        /*根据关键词+书籍名字获取书籍内容*/
        $('button#edit_cotainer').click(function(){
            console.log(edit_switch)
            if(edit_switch == true){
              container_element.on("mousedown",container_dragStartEvent)
              edit_switch=false
            }else if(edit_switch == false){
              container_element.off("mousedown")
              edit_switch=true
            }
            console.log(edit_switch)
        });
    </script>
</html>