<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>视频列表</title>

<!-- style -->
<link type="text/css" rel="stylesheet" href="/static/content_production/css/videoList_style.css">
<link type="text/css" href="/static/content_production/css/timeselector-jquery-ui-1.8.17.custom.css" rel="stylesheet" />
<link type="text/css" href="/static/content_production/css/timeselector-jquery-ui-timepicker-addon.css" rel="stylesheet" />

<!-- website behavior /public/ -->
<script type="text/javascript" src="/static/content_production/js/videoList_jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="/static/content_production/js/videoList_jquery.isotope.js"></script>
<script type="text/javascript" src="/static/content_production/js/videoList_script.js"></script>
<script type="text/javascript" src="/static/content_production/js/timeselector-jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="/static/content_production/js/timeselector-jquery-ui-1.8.17.custom.min.js"></script>
<script type="text/javascript" src="/static/content_production/js/timeselector-jquery-ui-timepicker-addon.js"></script>
<script type="text/javascript" src="/static/content_production/js/timeselector-jquery-ui-timepicker-zh-CN.js"></script>

</head>
<body onload="get_video_list()">


<!-- main start -->




<div id="yhc_responsive" class="main">

    <div class="allProduct respl-header">
        <ul>
             <li> <a href="https://passport.bilibili.com/register/pc_oauth2.html#/?client_id=1afc4f32b90641ae&return_url=http://menganhealth.cn/clip/bilibili_refresh_access&response_type=code&state=12345" target="_blank"  >启动＂令牌更新＂定时程序</a></li>
             <li> <a href="/videoList/start_contribute_timing_process" target="_blank"  >执行＂投稿＂定时程序</a></li>

             <br>
<!--             <li>-->
<!--                 <input type="text"  name="datetime" class="ui_timepicker" placeholder="设置投稿时间" value="" style="width:200px;height:20px;font-size:12px">-->

<!--             </li>-->

        </ul>

        <ul class="productTab respl-option" data-option-key="filter">

            <li class="select"><a href="#" data-rl_value="*">全部</a></li>
            <li><a href="#" data-rl_value=".category-10">未投稿</a></li>
            <li><a href="#" data-rl_value=".category-20">已定时</a></li>
            <li><a href="#" data-rl_value=".category-20">已投稿</a></li>


        </ul>


        <ul id="video_list" class="ProductList respl-items">
<!--            <li class="respl-item category-10">-->
<!--                <div class="unit">-->
<!--                    <p class="hoverline"></p>-->
<!--                    <a class="images" href="http://www.17sucai.com/"><img src="/static/content_production/img/g1.jpg"></a>-->
<!--                    <h1><a href="http://www.17sucai.com/">御皇樟芝养生液</a></h1>-->
<!--                    <dl>-->
<!--                        <dd>产品成分：100%野生牛樟芝浓缩</dd>-->
<!--                        <dd>产品功效：强免疫、活细胞、解..</dd>-->
<!--                        <dd>包装规格：300ML</dd>-->
<!--                    </dl>-->
<!--                    <div class="view">-->
<!--                        <div class="left">39 浏览</div>-->
<!--                        <a class="right" href="http://www.17sucai.com/">查看<span>&gt;</span></a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </li>-->
<!--            <li class="respl-item category-20">-->
<!--                <div class="unit">-->
<!--                    <p class="hoverline"></p>-->
<!--                    <a class="images" href="http://www.17sucai.com/"><img src="/static/content_production/img/g3.jpg"></a>-->
<!--                    <h1><a href="http://www.17sucai.com/">御皇樟芝养生液</a></h1>-->
<!--                    <dl>-->
<!--                        <dd>产品成分：100%野生牛樟芝浓缩</dd>-->
<!--                        <dd>产品功效：强免疫、活细胞、解..</dd>-->
<!--                        <dd>包装规格：300ML</dd>-->
<!--                    </dl>-->
<!--                    <div class="view">-->
<!--                        <div class="left">39 浏览</div>-->
<!--                        <a class="right" href="http://www.17sucai.com/">查看<span>&gt;</span></a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </li>-->

<!--            <li class="respl-item category-20">-->
<!--                <div class="unit">-->
<!--                    <p class="hoverline"></p>-->
<!--                    <a class="images" href="http://www.17sucai.com/"><img src="/static/content_production/img/g4.jpg"></a>-->
<!--                    <h1><a href="http://www.17sucai.com/">御皇樟芝养生液</a></h1>-->
<!--                    <dl>-->
<!--                        <dd>产品成分：100%野生牛樟芝浓缩</dd>-->
<!--                        <dd>产品功效：强免疫、活细胞、解..</dd>-->
<!--                        <dd>包装规格：300ML</dd>-->
<!--                    </dl>-->
<!--                    <div class="view">-->
<!--                        <div class="left">39 浏览</div>-->
<!--                        <a class="right" href="http://www.17sucai.com/">查看<span>&gt;</span></a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </li>-->

<!--            <li class="respl-item category-10">-->
<!--                <div class="unit">-->
<!--                    <p class="hoverline"></p>-->
<!--                    <a class="images" href="http://www.17sucai.com/"><img src="/static/content_production/img/g1.jpg"></a>-->
<!--                    <h1><a href="http://www.17sucai.com/">御皇樟芝养生液</a></h1>-->
<!--                    <dl>-->
<!--                        <dd>产品成分：100%野生牛樟芝浓缩</dd>-->
<!--                        <dd>产品功效：强免疫、活细胞、解..</dd>-->
<!--                        <dd>包装规格：300ML</dd>-->
<!--                    </dl>-->
<!--                    <div class="view">-->
<!--                        <div class="left">39 浏览</div>-->
<!--                        <a class="right" href="http://www.17sucai.com/">查看<span>&gt;</span></a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </li>-->

<!--            <li class="respl-item category-10">-->
<!--                <div class="unit">-->
<!--                    <p class="hoverline"></p>-->
<!--                    <a class="images" href="http://www.17sucai.com/"><img src="/static/content_production/img/g3.jpg"></a>-->
<!--                    <h1><a href="http://www.17sucai.com/">御皇樟芝养生液</a></h1>-->
<!--                    <dl>-->
<!--                        <dd>产品成分：100%野生牛樟芝浓缩</dd>-->
<!--                        <dd>产品功效：强免疫、活细胞、解..</dd>-->
<!--                        <dd>包装规格：300ML</dd>-->
<!--                    </dl>-->
<!--                    <div class="view">-->
<!--                        <div class="left">39 浏览</div>-->
<!--                        <a class="right" href="http://www.17sucai.com/">查看<span>&gt;</span></a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </li>-->
<!--            <li class="respl-item category-20">-->
<!--                <div class="unit">-->
<!--                    <p class="hoverline"></p>-->
<!--                    <a class="images" href="http://www.17sucai.com/"><img src="/static/content_production/img/g4.jpg"></a>-->
<!--                    <h1><a href="http://www.17sucai.com/">御皇樟芝养生液</a></h1>-->
<!--                    <dl>-->
<!--                        <dd>产品成分：100%野生牛樟芝浓缩</dd>-->
<!--                        <dd>产品功效：强免疫、活细胞、解..</dd>-->
<!--                        <dd>包装规格：300ML</dd>-->
<!--                    </dl>-->
<!--                    <div class="view">-->
<!--                        <div class="left">39 浏览</div>-->
<!--                        <a class="right" href="http://www.17sucai.com/">查看<span>&gt;</span></a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </li>-->

<!--            <li class="respl-item category-10">-->
<!--                <div class="unit">-->
<!--                    <p class="hoverline"></p>-->
<!--                    <a class="images" href="http://www.17sucai.com/"><img src="/static/content_production/img/g1.jpg"></a>-->
<!--                    <h1><a href="http://www.17sucai.com/">御皇樟芝养生液</a></h1>-->
<!--                    <dl>-->
<!--                        <dd>产品成分：100%野生牛樟芝浓缩</dd>-->
<!--                        <dd>产品功效：强免疫、活细胞、解..</dd>-->
<!--                        <dd>包装规格：300ML</dd>-->
<!--                    </dl>-->
<!--                    <div class="view">-->
<!--                        <div class="left">39 浏览</div>-->
<!--                        <a class="right" href="http://www.17sucai.com/">查看<span>&gt;</span></a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </li>-->
        </ul>


    </div>

</div>




<!-- main end -->

<!-- load more -->
<!--<div class="loadMore">-->
<!--	<a href="javascript:;">更多</a>-->
<!--</div>-->


</body>
<script>
    /*获取视频列表*/
    function get_video_list(){
         $.ajax({
            url: "get_video_list",
            type: "GET",
            data: { },
            success: function (result) {
               video_list = document.getElementById('video_list')
               console.log(video_list)
               video_id_list = result.video_id_list
               video_title_list = result.video_title_list
               video_cover_url_list = result.video_cover_url_list
               video_bgm_list = result.video_bgm_list
               video_subtitle_list = result.video_subtitle_list
               video_comment_guide_list = result.video_comment_guide_list
               video_status_list = result.video_status_list
               video_contribute_time_list = result.video_contribute_time_list
               for (let i = 0; i < video_title_list.length; ++i) {

                    var li = document.createElement("li");
                    var div1 = document.createElement("div");
                    var p1 = document.createElement("p");
                    var input = document.createElement("input");
                    var a1 = document.createElement("a");
                    var img = document.createElement("img");
                    var h1 = document.createElement("h1");
                    var a2 = document.createElement("a");
                    var dl1 = document.createElement("dl");
                    var dl2 = document.createElement("dl");
                    var dd1 = document.createElement("dd");
                    var dd2 = document.createElement("dd");
                    var dd3 = document.createElement("dd");
                    var dd4 = document.createElement("dd");
                    var div2 = document.createElement("div");
                    var div3 = document.createElement("div");
                    var a3 = document.createElement("a");
                    var a4 = document.createElement("a");
                    var span1 = document.createElement("span");
                    var span2 = document.createElement("span");
                    li.setAttribute("class", "respl-item category-10 isotope-item");
                    var row_num = (i%4)*310
                    var vertical_num = parseInt(i/4)*310
                    li_style = "position: absolute; left: 0px; top: 0px; transform: translate3d("+row_num.toString()+"px, "+vertical_num.toString()+"px, 0px)"
                    console.log(li_style)
                    li.setAttribute("style", li_style);
                    div1.setAttribute("class", "unit");
                    p1.setAttribute("class", "hoverline");
                    p1.setAttribute("style", "display:block;");
                    input.setAttribute("type", "text");
                    //input.setAttribute("name", "datetime-"+i);
                    input.setAttribute("id", "datetime"+i);
                    input.setAttribute("style", "width:200px;height:20px;font-size:12px");
                    input.setAttribute("placeholder","设置投稿时间")
                    input.setAttribute("class", "ui_timepicker");
                    a1.setAttribute("class", "images");
                    a1.setAttribute("href","http://www.17sucai.com/");
                    a1.setAttribute("style","height:160px");
                    img.setAttribute("src","https://enjoy-mocuili.oss-cn-hangzhou.aliyuncs.com/"+video_cover_url_list[i]+"?x-oss-process=image/resize,m_fixed,limit_0,w_250");
                    a2.setAttribute("href","http://www.17sucai.com/");
                    div2.setAttribute("class","view");
                    div2.setAttribute("style","bottom:0px");
                    div3.setAttribute("class","left");
                    a3.setAttribute("class","right");
                    a3.setAttribute("onclick","bilibili_video_contribute("+video_id_list[i]+","+i+");");
                    a4.setAttribute("class","right");
                    dd1.innerHTML="副标题："+video_subtitle_list[i];
                    dd2.innerHTML="BGM："+video_bgm_list[i];
                    dd3.innerHTML="评论引导："+video_comment_guide_list[i];
                    dd4.innerHTML="定时时间："+video_contribute_time_list[i];
                    a2.innerHTML=video_title_list[i];
                    div3.innerHTML=video_status_list[i];
                    a3.innerText = "投稿";
                    a4.innerText = "定时投稿";
                    span1.innerHTML="&gt;";
                    span2.innerHTML="&gt;";

                    video_list.append(li)
                    li.append(div1)
                    div1.append(p1)
                    div1.append(a1)
                    div1.append(h1)
                    div1.append(dl1)
                    div1.append(dl2)
                    div1.append(div2)
                    dl2.append(input)
                    a1.append(img)
                    h1.append(a2)
                    dl1.append(dd1)
                    dl1.append(dd2)
                    dl1.append(dd3)
                    dl1.append(dd4)
                    div2.append(div3)
                    div2.append(a3)
                    //div2.append(a4)
                    a3.append(span1)
                    a4.append(span2)


               }
                //初始化时间插件
                $(".ui_timepicker").datetimepicker({
                       // showOn: "button",
                       // buttonImage: "/static/content_production/img/icon_calendar.gif",
                       // buttonImageOnly: true,
                        showSecond: true,
                        timeFormat: 'hh:mm:ss',
                        stepHour: 1,
                        stepMinute: 1,
                        stepSecond: 1
                })
            }
        });
    }

    function bilibili_video_contribute(video_id,datetime_index) {
        console.log($("#datetime"+datetime_index).val())
        if (confirm("确认投稿吗？")) {
            $.ajax({
                url: "bilibili_video_contribute",
                type: "GET",  /*采用POST方法提交*/
                data: { "video_id": video_id,
                        "datetime":$("#datetime"+datetime_index).val(),
                },  /*提交的数据（json格式），从输入框中获取*/
                /*result为后端函数返回的json*/
                success: function (result) {
                    alert(result.message)
                }
            });
        }
    }


</script>
</html>
