<html>
    <!--引入jQuery包用于使用ajax-->
    <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <h1>请输入生成视频相关信息</h1>
    <!--创建两个input输入框，定义id分别为name,age-->
    <input cols="30" type="text" id="title" name="title" placeholder="标题">
    <br><br>
    <input cols="30" type="text" id="start" name="start" placeholder="开头">
    <br><br>
<!--    <input type="text" id="text" name="text" placeholder="文本">-->
    <textarea rows="10" cols="30" type="text" id="text" name="text" placeholder="文本"></textarea>
    <br><br>
    <input cols="30" type="text" id="end" name="end" placeholder="结尾">
    <br><br>
    <input cols="30" type="text" id="author" name="author" placeholder="作者">
    <br><br>
    <!--创建button按钮，点击则激发submit()事件-->
    <button onclick="submit();">生成视频</button>
    <script>
        /*在这里编写submit()事件*/
        function submit() {
            $.ajax({
                url: "submit", /*数据提交到submit处*/
                type: "POST",  /*采用POST方法提交*/
                data: { "title": $("#title").val(),
                        "start":$("#start").val(),
                        "text":$("#text").val(),
                        "end":$("#end").val(),
                        "author":$("#author").val()},  /*提交的数据（json格式），从输入框中获取*/
                /*result为后端函数返回的json*/
                success: function (result) {
                    if (result.message == "success!") {
                        alert(result.message)
                    }
                    else {
                        alert(result.message)
                    }
                }
            });
        }
    </script>
</html>